mixin subscription-text-field(id, ph)


    form(action="#", method="post").subscription-text-field
        input(type="email", name=id, placeholder=ph)
        input(type="submit", value="arrow_forward")
