mixin data-dropdown(title)

  .data-dropdown= title
    input(type="text" class="data-dropdown-datepicker" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true"
          data-range="true" data-multiple-dates-separator=" - " )

//script(type="text/javascript" src="js/datepicker-set.js")
