mixin pagination(title)

  .pagination
    ul
      li
        a(href="#") 1
      li
        a(href="#") 2
      li
        a(href="#") 3
      li
        a(href="#") ...
      li
        a(href="#") 15
      li
        a(href="#")
          i.material-icons arrow_forward
