mixin radio-buttons(title)

    span.radio-buttons__title= title
    div.radio-buttons
      input(type="radio" name="radio1" id="radio-buttons-1" value="Мужчина" checked)
      label(for="radio-buttons-1") Мужчина

      input(type="radio" name="radio1" id="radio-buttons-2" valeu="Женщина")
      label(for="radio-buttons-2") Женщина
