mixin room-info()
    .room-info
        h2 Сведения о номере
        .room-info__content.room-info__content--feature
            img(src="./img/emoticon.svg")
            .room-info__content_text
                b Комфорт
                span Шумоподавляющие стены
        .room-info__content.room-info__content--feature
            img(src="./img/city.svg")
            .room-info__content_text
                b Удобство
                span Окно в каждой из спален
        .room-info__content
            img(src="./img/hot.svg")
            .room-info__content_text
                b Уют
                span Номер оснащен камином

