mixin datepicker()

  .datepicker-box
    .datepicker-box__arrival
      h3 ПРИБЫТИЕ
      .dataDropdown
        label(for="start")
        input(id="start" type="text" class="my-datepicker datepickers" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
    .datepicker-box__departure
      h3 ВЫЕЗД
      .dataDropdown
        label(for="end")
        input(id="end" type="text" class="my-datepicker datepickers" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")

//script(type="text/javascript" src="js/datepicker-set.js")





