mixin checkbox-list(title)

  div.checkbox-list__container(id='checkbox-list')
    div.checkbox-list__title= title
    ul
      li
        input(type='checkbox' id='cl1')
        label(for='cl1') Завтрак
      li
        input(type='checkbox' id='cl2')
        label(for='cl2') Письменный стол
      li
        input(type='checkbox' id='cl3')
        label(for='cl3') Стул для кормления
      li
        input(type='checkbox' id='cl4')
        label(for='cl4') Кроватка
      li
        input(type='checkbox' id='cl5')
        label(for='cl5') Телевизор
      li
        input(type='checkbox' id='cl6')
        label(for='cl6') Шампунь
      li
        input(type='checkbox' id='cl7')
        label(for='cl7') Телевизор
      li
        input(type='checkbox' id='cl8')
        label(for='cl8') Шампунь