include ../logo/logo

mixin footer-creative()

    .footer-creative
        +logo()
        span Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footer-creative_img
            img(src="./img/twitter.svg")
            img(src="./img/facebook.svg")
            img(src="./img/instagram.svg")