mixin masked-text-field(title)

  .masked-text-field= title
    input(type="text" class="datepicker-here" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
    //label(for='some-text' class='mask-text-field__label--style') masked text field

    //input(name='some-text' id='some-text' class="mask-text-field__input--style" type='date')
