mixin toggle(title)

  div.toggle__container
    span.toggle__title= title
    div.toggle
      input(type="checkbox" id="toggle-1" checked)
      label(for="toggle-1") Получать спецпредложения
    //div.toggle
    //  input(type="checkbox" id="toggle-2")
    //  label(for="toggle-2") Получать спецпредложения
