include blocks/header/nav-bar
include blocks/footer/footer
include blocks/filter-body/filter-body

doctype html
html(lang='en')
    head
        title Toxin Hotel
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel='stylesheet', href='css/styles.css')
        script(type="text/javascript" src="js/jquery-1.12.4.min.js")
        script(type="text/javascript" src="js/jquery-ui.js")
        script(type="text/javascript" src="js/datepicker.min.js")

    body
        +nav-bar()
        +filter-body()
        +footer

        script(type="text/javascript" src="js/numbercategoryselector.js")
        script(type="text/javascript" src="js/numbercategoryselectorGuest.js")
        script(type="text/javascript" src="js/numbercategoryselectorGuest2.js")
        script(type="text/javascript" src="js/guest.js")
        script(type="text/javascript" src="js/guest2.js")
        script(type="text/javascript" src="js/ncs.js")
        script(type="text/javascript" src="js/checkbox-list.js")
        script(type="text/javascript" src="js/rangeSlider.js")
        script(type="text/javascript" src="js/swiper.min.js")
        script(type="text/javascript" src="js/swiper.js")
        script(type="text/javascript" src="js/datepicker-set.js")

