include blocks/header/nav-bar
include blocks/footer/footer
include blocks/room-deatails-body/room-deatails-body


doctype html
html(lang='ru')
    head
        title Toxin Hotel
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel='stylesheet', href='css/styles.css')
        script(type="text/javascript" src="js/jquery-1.12.4.min.js")
        script(type="text/javascript" src="js/datepicker.min.js")





    body
        +nav-bar()
        +room-deatails-body()
        +footer()

    script(type="text/javascript" src="js/pie.js")
    script(type="text/javascript" src="js/datepicker-set.js")
    script(type="text/javascript" src="js/numbercategoryselectorGuest.js")
    script(type="text/javascript" src="js/guest.js")
